<header class="header">
    <nav class="navbar navbar-expand-md " aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a href="/" class="d-flex justify-content-center align-items-center">
                <img style="width: 65px;" src="https://www.giallocolfert.com/libs/v0001/res/logo-giallo-trasp.png" alt="">
                <span class="d-none d-md-block">Colfert Blog</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample04" style="">
                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a id="homeBtn" class="nav-link navBtn" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="aboutBtn" class="nav-link navBtn"  href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a id="usersBtn" class="nav-link navbtn" href="/users">Users</a>
                    </li>
                    <% if (user && user.username) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false"><%= user.username %></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item navBtn" href="/dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item navBtn" href="/logout">Logout</a></li>                       
                        </ul>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a id="loginBtn" href="/admin" class="nav-link navBtn">Login</a>
                    </li>
                    <% } %>
                    
                </ul>
            </div>
        </div>
    </nav>

</header>